<div mat-dialog-content>
    <p>Seat NO:{{passenger.seatNo}}</p>
    <mat-form-field>
        <input placeholder="Name" matInput [(ngModel)]=passenger.name>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input placeholder="Passport No" matInput [(ngModel)]=passenger.passport>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input placeholder="Address" matInput [(ngModel)]=passenger.address>
    </mat-form-field>
    <br>


           <mat-form-field>
            <mat-label>Choose DOB</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="passenger.dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()">Update</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>